.speech{
    font-family: Arial;
    font-size:  20px;;
    color: black;
}
.stage-direction{
    font-family: Arial;
    font-size:20px;
    color: black;
    background-color: aqua;
}
.name{
    font-family: Arial;
    font-size:20px;
    color: black;
}
.stage-direction:hover{
    color:chartreuse;
    background-color:cornsilk;
}
.LORDGORING{
color:crimson;
}
.JAMES{
    color:darkblue;
}
.LORDCAVERSHAM{
    color:darkmagenta;
}
table { 
    border: solid 3px red;
    width: 70%;
}
 th{
     border: solid 1px red;
     color:saddlebrown;
     text-align: center;
 }
td{
    border: solid 1px red;
    color: slateblue;
    text-align: left;
}
tr:nth-child(even) {
    background-color:springgreen;
}
.LORDGORING:hover{
    text-shadow: 2px 2px 2px teal;
    border: solid 3px yellow;
    }
ul.navbar-horizontal {
        list-style-type: none;
        margin: 0;
        padding: 0;
        }
ul.navbar-horizontal li {
        float:left;
        background:maroon;
}
ul.navbar-horizontal a {
        display:block;
        padding:20px;
        color:tomato;
        }
ul.navbar-horizontal a:hover {
        background-color:yellow;
        color:violet;
        }